.navigation{
    nav{
        a{
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    @media screen and (max-width: 580px) {
        nav{
            a{
                font-size: 14px;
                margin-right: 15px;
            }
        }
    }
}